.navbar-outer-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-items{
    display: flex;
    flex-direction: row;
    margin: 0.7rem 3.5rem;
    /* justify-content: center; */
}
#main-logo{
    margin: 0.3rem 0;
}
.nav-list{
    list-style: none;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* margin: 0 1rem; */
}
.nav-list-items:hover{
    transform: translateY(-5px);
    color: #0096ff;
    /* background-color: #000; */
}
.nav-list-items{
    /* transform: translateY(-5px); */
    color: #fff;
    /* background-color: #000; */
}
.nav-btn{
    background: #1DA1F2;
    /* font-weight: 500; */
    width: 55px;
    height: 55px;
    margin: 0.3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -0.7rem ;
    /* justify-content: center; */
    /* text-align: center; */
    border-radius: 50%;
}
   